.slider {
    position: relative;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 750px;
    border-radius: 10px;
}

.rightArrow {
    position: absolute;
    height: 75px;
    top: 50%;
    right: 550px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.leftArrow {
    position: absolute;
    height: 75px;
    top: 50%;
    left: 550px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slideActive {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}